/*Global styles*/

@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: beige;
  font-family: "Pattaya", sans-serif;
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 1.8rem;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
.btn {
  max-width: 300px;
  width: 100%;
  min-width: 50px;
  height: 3rem;
  margin: 15px 0;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  border: 2.5px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(199, 167, 154);
  font-size: 1.8rem;
  transition: font-size 3s;
  transition: background-color 1s;
}

/*Nav & Hero*/

#header {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: rgb(199, 167, 154);
}

#header-img {
  display: flex;
  height: 120px;
  max-height: 120px;
  align-items: center;
  flex-wrap: wrap;
}

#nav-bar {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
  min-height: 5vh;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#hero {
  min-height: 90vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url("https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(248, 238, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero h2 {
  font-size: 10rem;
}
#hero h3 {
  font-size: 5rem;
  padding: 2rem;
}
#hero .btn {
  max-width: 15%;
  padding: 2rem;
  height: fit-content;
  border-radius: 3rem;
}
/*Features*/

#features {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url("https://images.pexels.com/photos/775414/pexels-photo-775414.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: rgb(248, 238, 219);
}
#features h2,
p {
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
}
.grid {
  display: flex;
}
.icon {
  font-size: 5.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 115px;
  width: 15vw;
  padding: 2rem;
}
.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Video*/

#video-sample {
  background: url("https://images.pexels.com/photos/2489988/pexels-photo-2489988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: right;
  background-position: right;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: rgb(248, 238, 219);
}
#video {
  max-width: 560px;
  width: 100%;
}
figcaption {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 7.5rem;
}

/*Bundles*/
#bundles {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url("https://images.pexels.com/photos/3756766/pexels-photo-3756766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: rgb(248, 238, 219);
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card h4 {
  padding: 1rem;
  font-size: 25px;
}
.card p {
  padding: 1rem;
  font-size: 18px;
}
.card h3 {
  font-size: 40px;
  padding: 1rem;
}
.card-icon1,
.card-icon2,
.card-icon3 {
  font-size: 30px;
  background: rgb(255, 215, 200);
}
.card-icon1 {
  color: rgb(238, 100, 76);
}
.card-icon2 {
  color: rgb(196, 149, 33);
}
.card-icon3 {
  color: rgb(255, 255, 255);
}

/*Contact*/

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20rem;
  margin-top: 15rem;
}
#contact h2 {
  font-size: 10rem;
  font-family: "Dancing Script", cursive;
}
#email {
  padding: 1.5px;
  background: transparent;
  border-color: black;
}

/*Footer*/
footer {
  color: black;
  background: transparent;
}
.footer-wrapper {
  display: flex;
  padding: 0.1rem;
  width: 100%;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 3vh;
  flex-wrap: wrap;
}
footer h5 {
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
  align-items: center;
}
footer li {
  margin: 1rem;
  font-size: 3rem;
  background-color: transparent;
}

/*Media Queries*/

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  #header {
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  #header img {
    width: fit-content;
  }
  nav ul {
    align-items: center;
  }

  .btn {
    min-width: 40%;
  }

  .grid {
    width: 100%;
  }
  .icon {
    padding: 2.5rem;
    margin: 2.5rem;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
}
